*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.board {
    width: 604px;
    height: 604px;
    display: flex;
    flex-wrap: wrap;
    margin: 150px auto;
    margin-bottom: 0;
    border: 2px solid grey;
    position: relative;
}

.board__item {
    width: 60px;
    height: 60px;
    border: 2px solid blue;
    cursor: pointer;
}

.squre {
    width: 60px;
    height: 60px;
    /* background-color: darkblue; */
}

.board__message {
    width: 600px;
    height: 600px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(245, 205, 205,.78);
}

.board-message__title {
    font-size: 48px;
    color: #fff;
}













/* Task 2 */

/* 
.container {
    width: 300px;
    display: flex;
    align-items: center;
    margin: 200px auto;
}

.container__input {
    padding: 10px 15px;
    color: grey;
    outline: none;
}

.container__btn {
    width: 50px;
    height: 39px;
    border: 1px solid grey;
    border-left: 0;
    text-align: center;
    line-height: 39px;
    text-decoration: none;
    color: grey;
} */
